In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import model_selection
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier, export_graphviz

In [2]:
file = 'Loan-applicant-details.csv'
names = ['Loan_ID','Gender','Married','Dependents','Education','Self_Employed','ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term','Credit_History','Property_Area','Loan_Status']
dataset = pd.read_csv(file, names=names)

In [8]:
dataset.head(20)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001003,1,1,1,0,0,4583,1508.0,128,360,1,0,0
1,LP001005,1,1,0,0,1,3000,0.0,66,360,1,2,1
2,LP001006,1,1,0,1,0,2583,2358.0,120,360,1,2,1
3,LP001008,1,0,0,0,0,6000,0.0,141,360,1,2,1
4,LP001011,1,1,2,0,1,5417,4196.0,267,360,1,2,1
5,LP001013,1,1,0,1,0,2333,1516.0,95,360,1,2,1
6,LP001014,1,1,3,0,0,3036,2504.0,158,360,0,1,0
7,LP001018,1,1,2,0,0,4006,1526.0,168,360,1,2,1
8,LP001020,1,1,1,0,0,12841,10968.0,349,360,1,1,0
9,LP001024,1,1,2,0,0,3200,700.0,70,360,1,2,1
10,LP001028,1,1,2,0,0,3073,8106.0,200,360,1,2,1
11,LP001029,1,0,0,0,0,1853,2840.0,114,360,1,0,0
12,LP001030,1,1,2,0,0,1299,1086.0,17,120,1,2,1
13,LP001032,1,0,0,0,0,4950,0.0,125,360,1,2,1
14,LP001036,0,0,0,0,0,3510,0.0,76,360,0,2,0
15,LP001038,1,1,0,1,0,4887,0.0,133,360,1,0,0
16,LP001043,1,1,0,1,0,7660,0.0,104,360,0,2,0
17,LP001046,1,1,1,0,0,5955,5625.0,315,360,1,2,1
18,LP001047,1,1,0,1,0,2600,1911.0,116,360,0,1,0
19,LP001066,1,1,0,0,1,9560,0.0,191,360,1,1,1

Sklearn needs all of categorical variables to be numeric so giving numeric encoding

In [5]:
from sklearn.preprocessing import LabelEncoder
var_mod = ['Gender','Married','Dependents','Education','Self_Employed','Property_Area','Loan_Status']
le = LabelEncoder()
for i in var_mod:
    dataset[i] = le.fit_transform(dataset[i])

In [7]:
dataset.head(20)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001003,1,1,1,0,0,4583,1508.0,128,360,1,0,0
1,LP001005,1,1,0,0,1,3000,0.0,66,360,1,2,1
2,LP001006,1,1,0,1,0,2583,2358.0,120,360,1,2,1
3,LP001008,1,0,0,0,0,6000,0.0,141,360,1,2,1
4,LP001011,1,1,2,0,1,5417,4196.0,267,360,1,2,1
5,LP001013,1,1,0,1,0,2333,1516.0,95,360,1,2,1
6,LP001014,1,1,3,0,0,3036,2504.0,158,360,0,1,0
7,LP001018,1,1,2,0,0,4006,1526.0,168,360,1,2,1
8,LP001020,1,1,1,0,0,12841,10968.0,349,360,1,1,0
9,LP001024,1,1,2,0,0,3200,700.0,70,360,1,2,1
10,LP001028,1,1,2,0,0,3073,8106.0,200,360,1,2,1
11,LP001029,1,0,0,0,0,1853,2840.0,114,360,1,0,0
12,LP001030,1,1,2,0,0,1299,1086.0,17,120,1,2,1
13,LP001032,1,0,0,0,0,4950,0.0,125,360,1,2,1
14,LP001036,0,0,0,0,0,3510,0.0,76,360,0,2,0
15,LP001038,1,1,0,1,0,4887,0.0,133,360,1,0,0
16,LP001043,1,1,0,1,0,7660,0.0,104,360,0,2,0
17,LP001046,1,1,1,0,0,5955,5625.0,315,360,1,2,1
18,LP001047,1,1,0,1,0,2600,1911.0,116,360,0,1,0
19,LP001066,1,1,0,0,1,9560,0.0,191,360,1,1,1

Splitting Dataset

In [16]:
array = dataset.values
x = array[:,6:11]
y = array[:,12]
y = y.astype('int')
x_train, x_test, y_train, y_test = model_selection.train_test_split(x,y, test_size = 0.2, random_state = 7)

Evaluating the model and training it

In [17]:
# Logistic Regression
model = LogisticRegression()
model.fit(x_train, y_train)
predictions = model.predict(x_test)
print(accuracy_score(y_test,predictions))

C:\Installed\Anaconda\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.7708333333333334

In [18]:
# Decision Tree
model = DecisionTreeClassifier()
model.fit(x_train,y_train)
predictions = model.predict(x_test)
print(accuracy_score(y_test, predictions))

0.6458333333333334

In [19]:
# Random Forest Classifier
model = RandomForestClassifier(n_estimators=100)
model.fit(x_train,y_train)
predictions = model.predict(x_test)
print(accuracy_score(y_test, predictions))

0.75